<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Doctor Dashboard</title>
  <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
    <nav class="navbar">
        <a href="/doctor-dashboard">Dashboard</a>
        <a href="/patient-records">Patient Records</a>
        <a href="/appointments">Appointments</a>
        <a href="/login"><button>Logout</button></a>
    </nav>

    <section class="shortcut-grid">
        <a href="/patient-records" class="shortcut-btn">Patient Records</a>
        <a href="/appointments" class="shortcut-btn">Appointments</a>
    </section>

</body>
</html>